#add-photo {
  height: 100%;
  width: 100%;
  background-color: #99c3c8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#file-name {
  margin: 0;
  height: 10%;
  font-size: 20px;
}

#selected-img {
  margin: 0;
  max-height: 80%;
}

#import-file {
  width: 20%;
  height: 10%;
  background: transparent;
  font-size: 20px;
  letter-spacing: 3px;
  color: #fafafa;
  border: solid 4px #fafafa;
  transition: 0.1s;
}
#import-file:hover {
  background: #fafafa;
  color: #99c3c8;
  cursor: pointer;
}

#choixFichierInput {
  display: none;
}

.bottom-button {
  margin: 0;
  height: 10%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: right;
}

#next button:hover {
  background: #fafafa;
  color: #212427;
  cursor: pointer;
}

#next button {
  height: 60%;
  padding: 13px 25px;
  border: none;
  font-size: 20px;
  letter-spacing: 3px;
  background: #212427;
  color: #fafafa;
  transition: all 0.3s ease 0s;
}

#step-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#step-two div {
  display: flex;
  width: 70%;
  height: 100%;
  font-size: 2em;
}


.input {
  width: 80%;
  border: none;
  background-color: transparent;
  font-size: 3em;
  color: #fafafa;
}
#titre {
  height: 10%;
  border-bottom: 1px solid #fafafa;
  transition: 0.5s;
  margin-bottom: 4%;
}
#descr {
  height: 30%;
  font-family: inherit;
  font-size: 2em;
}

#button-post-div {
  height: 10%;
}
