<section id="add-photo">

  <!--STEP 1 : CHOIX FICHIER-->
  <input id="choixFichierInput" type="file" (change)="onFileChanged($event)" #fileInput>

  <!--STEP 2 : VALIDATION PHOTO-->
  <button id="import-file" (click)="fileInput.click()" *ngIf="selectedFile == undefined && !isFileSelected"><span>Importer une photo</span></button>

  <div id="file-name" *ngIf="!isFileSelected">
    <p *ngIf="selectedFile != undefined">{{selectedFileName}}</p>
  </div>

  <img id="selected-img" *ngIf="selectedFile && !isFileSelected" [src]="selectedFile" />

  <div id="next" *ngIf="!isFileSelected"><button (click)="goToStepTwo()" *ngIf="selectedFile"><span>suivant &#8250;</span></button></div>

  <!--STEP 3 : DESCRIPTION-->

  <div id="step-two" *ngIf="isFileSelected">

    <input class="input" id="titre" type="text" placeholder="Titre"/>
    <textarea class="input" id="descr" placeholder="Entrez une description pour votre photo."></textarea>

    <div id="" ><button (click)="uploadPicture()"><span>Poster !</span></button></div>
  </div>


</section>
