<section id="add-photo">

  <!--STEP 1 : CHOIX FICHIER-->
  <input id="choixFichierInput" type="file" (change)="onFileChanged($event)" #fileInput>

  <!--STEP 2 : VALIDATION PHOTO-->
  <button id="import-file" (click)="fileInput.click()" *ngIf="selectedFile == undefined && !isFileSelected"><span>Importer une photo</span></button>

  <div id="file-name" *ngIf="!isFileSelected">
    <p *ngIf="selectedFile != undefined">{{selectedFileName}}</p>
  </div>

  <img id="selected-img" *ngIf="selectedFile && !isFileSelected" [src]="selectedFile" />

  <div id="next" *ngIf="!isFileSelected"><button (click)="goToStepTwo()" *ngIf="selectedFile"><span>suivant &#8250;</span></button></div>

  <!--STEP 3 : DESCRIPTION-->

  <div id="step-two" *ngIf="isFileSelected">
    <div id="titre">
      <span>Titre : </span><input type="text" >
    </div>
    <div id="descr">
      <span>Description : </span><input type="text" >
    </div>
  </div>


</section>
