<div class="header">
  <div class="logo_container">
    <a routerLink="/pic-of-the-day" routerLinkActive="active" class="title">PHOTO GYBELS</a>
  </div>

  <div class="buttons_container">
    <img *ngIf="!nightShift" (click)="switchTheme()" src="/src/ressources/svg/moon-regular.svg" />
    <img *ngIf="nightShift" (click)="switchTheme()" src="/src/ressources/svg/moon-solid.svg" />
    <img (click)="toggleMenu()" src="/src/ressources/svg/menuwhite.svg" />
  </div>
</div>

<app-menu (closeMenuEmitter)="toggleMenu()" [showMenu]="showMenu"></app-menu>
